table#header
{
    width: 100%;
}

div#fight
{
    text-align:right;
    font-family:Arial;
    font-size:xx-large;
    color:red;
}

.BattleForm
{
    width: 50%;
    margin:0px auto;
}

.BattleTitle
{
    text-align: center;
    font-size:x-large;
    font-family:Arial;
}

.description
{
    font-size: small;
    text-align:center;
}

div#background
{
    position:fixed; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    z-index:-1; 
}

div#background > img
{
    height:100%; 
    width:100%; 
    border:0; 
}